.title {
  margin: 0;
}

.card :global(.ant-card-body) {
  padding: 0;
}

.footer {
  padding: 16px;
  border-top: 1px solid var(--places-list-border);
}

.filters {
  padding: 16px;
  border-bottom: 1px solid var(--places-list-border);
}

.error {
  margin: 16px;
}
